<% title = `${planet.name} - Overview` %>
<%- include("partials/layout-top.ejs") %>
<%- include("partials/nav.ejs") %>
<main class="overview">
    <p class="window-title">Planet  &quot;<%=planet.name%>&quot; (<%=player.nickname%>)</p>
    <table>
        <tr>
            <td>Server time</td>
            <td colspan="2"><%=new Date().toLocaleString()%></td>
        </tr>
        <tr>
            <td colspan="3"><img src="/public/images/planets/eisplanet06.jpg"/></td>
        </tr>
        <tr>
            <td>Diameter</td>
            <td><%=planet.diameter%>km</td>
            <td><%=planet.usedFields%> / <%=planet.maxFields%> fields</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td colspan="2">From <%=planet.minTemperature%>&deg;C to <%=planet.maxTemperature%>&deg;C</td>
        </tr>
        <tr>
            <td>Position</td>
            <td colspan="2">[<%=planet.galaxy%>:<%=planet.system%>:<%=planet.position%>]</td>
        </tr>
        <tr>
            <td>Points</td>
            <td colspan="2">[TODO]</td>
        </tr>
    </table>
</main>
<%- include("partials/layout-bot.ejs") %>