<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/public/styles/epic-blue.css">
</head>
<body>
<header>
    <span class="player-name">Player: <b><%=player.nickname%></b></span>
</header>
<div id="resources-bar-wrapper">
    <div id="resources-bar">
        <div class="resource metal">
            <img src="/public/images/icons/metal.gif"/>
            <span class="resource-name"><b><i>Metal</i></b></span>
            <span class="resource-amount"><%=Math.floor(planet.metal)%></span>
            <span class="resource-production"><%=Math.floor(planet.metalPerHour)%>/h</span>
            <span class="resource-storage"><%=Math.floor(planet.metalStorage)%></span>
        </div>
        <div class="resource crystal">
            <img src="/public/images/icons/crystal.gif"/>
            <span class="resource-name"><b><i>Crystal</i></b></span>
            <span class="resource-amount"><%=Math.floor(planet.crystal)%></span>
            <span class="resource-production"><%=Math.floor(planet.crystalPerHour)%>/h</span>
            <span class="resource-storage"><%=Math.floor(planet.crystalStorage)%></span>
        </div>
        <div class="resource deuter">
            <img src="/public/images/icons/deuter.gif"/>
            <span class="resource-name"><b><i>Deuterium</i></b></span>
            <span class="resource-amount"><%=Math.floor(planet.deuter)%></span>
            <span class="resource-production"><%=Math.floor(planet.deuteriumPerHour)%>/h</span>
            <span class="resource-storage"><%=Math.floor(planet.deuteriumStorage)%></span>
        </div>
        <div class="resource energy">
            <img src="/public/images/icons/energy.gif"/>
            <span class="resource-name"><b><i>Energy</i></b></span>
            <span class="resource-amount"><%=planet.energy - planet.usedEnergy%></span>
        </div>
        <div class="resource dark-matter">
            <img src="/public/images/icons/dark-matter.jpg"/>
            <span class="resource-name"><b><i>Dark Matter</i></b></span>
            <span class="resource-amout">0</span>
        </div>
        <div class="cb"></div>
    </div>
</div>
